<a href="https://colab.research.google.com/github/FridaAchieng/FridaAchieng/blob/main/pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
# Create a series of three different colours
a = ['white','blue','grey']
colors = pd.Series(a)
colors

0    white
1     blue
2     grey
dtype: object

In [8]:
# Create a series of three different car types and view it
b= ['volvo','subaru','mazda']
car_type = pd.Series(b)
car_type

0     volvo
1    subaru
2     mazda
dtype: object

In [11]:
# Combine the Series of cars and colours into a DataFrame
cars = pd.DataFrame({ 'colors': ['white','blue','grey'],
                    'car_type' : ['volvo','subaru','mazda']})
cars

  colors car_type
0  white    volvo
1   blue   subaru
2   grey    mazda

In [12]:
cars.to_csv('cars.csv',index=False)

In [16]:
df= pd.read_csv('/content/cars.csv')
df

  colors car_type
0  white    volvo
1   blue   subaru
2   grey    mazda

In [22]:
# Find the different datatypes of the car data DataFrame
df.dtypes

colors      object
car_type    object
dtype: object

In [23]:
# Describe your current car sales DataFrame using describe()
df.describe()

       colors car_type
count       3        3
unique      3        3
top     white    volvo
freq        1        1

In [24]:
# Get information about your DataFrame using info()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   colors    3 non-null      object
 1   car_type  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes